body {
    background-color: #3e4451 !important;
    color: white !important;
}

.container-tabela {
    border: 1px solid rgb(159, 158, 158);
    border-radius: 10px;
    padding: 20px;
}
table {
    background-color: none !important;
    width: 100%;
}

th, td {
    text-align: left !important;
    padding: 20px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #40485d !important;
}


a {
    color: white !important;
    text-decoration: none !important;
}

label {
    color: black;
}